.generated_files/
build/
dist/
nbproject/private/
nbproject/Makefile-genesis.properties
nbproject/Makefile-impl.mk
nbproject/Makefile-local-default.mk
nbproject/Makefile-variables.mk
Makefile*
Package-*
private/
_build/
!cmake/**/user.cmake
cmake/**/.generated/*
cmake/**/CMake*
out/